.navbarContainer{
    margin: 3em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
    position: absolute;
    width: 96.8%;
}