.div{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    padding: 0 10em;
    height: 100%;
    gap: 5em;
    
    .first{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .second{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }
}